<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="all-content">
    {{>header}}
    
    <div class="about">
        <div>{{title}}</div>
    <p>
    This app helps report the weather forecast of the location that was entered.
    Returns real-time data.
     Search all location for your forcast. <br>
        This app was created for fun by Ajibade, O. Emmanuel. <br>
    </p>
    <img src="/images/mine.jpg" alt=""> <br>
    <span>My Picture is here for the fun.</span>
    </div>
    {{!-- <p>My Fact: {{name}} </p> --}}
    </div>
    {{>footer}}

</body>
</html>